<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea
          class="form-input"
          type="text"
          id="content"
          name="content"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{#if user.Posts.length}}
    <div class="col-md-6 project-list">
      <h3>Current Posts:</h3>

      {{#each user.Posts as |post|}}
        <div class="row mb-2">
          <div class="col-md-8">
            {{!-- <h4><a href="/profile/{{post.id}}">{{post.title}}</a></h4> --}}

            <h4><a href="/singlepost/{{post.id}}">{{post.title}}</a></h4>

            <p>{{post.content}}</p>
            <form
              class="edit-form"
              data-id="{{post.id}}"
              name="post-name-edit"
              style="display: none"
            >
              <input
                class="form-input"
                type="text"
                value="{{post.title}}"
                name="post-name-edit"
              />
              <textarea
                class="form-input"
                type="text"
                name="post-content-edit"
              >{{post.content}}</textarea>
              <button type="submit">CREATE</button>
            </form>
          </div>

          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger"
              data-id="{{post.id}}"
              type="submit"
            >DELETE</button>
            <a href="/profile/edit/{{post.id}}">
              <button
                class="btn btn-sm btn-primary edit-btn"
                data-id="{{post.id}}"
                type="submit"
              >EDIT</button></a>
          </div>

        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src="./js/profileHome.js"></script>