<div class="row mb-4">
  <div class="col-md-5">
    <h3>
      {{post.title}}
    </h3>
    Written By:
    {{post.User.username}}
    at
    {{post.date_created}}
    <hr />
    <p>{{post.content}}</p>
    {{#unless logged_in}}
      <div class="leave-comment-btn">
        <a href="/login"><button
            class="comment-btn btn btn-sm btn-secondary"
            data-postid="{{post.id}}"
          >Leave a Comment</button></a>
      </div>
    {{/unless}}
  </div>
  {{! Show existing comments }}

  <div id="comment-container">
    <h4>Comments</h4>
    {{#each post.Comments as |comment|}}
      <div class="row">
        <div class="col-md-6">
          {{comment.User.username}}
          at
          {{date_created}}
          <p>{{comment.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{#if logged_in}}
  <div class="comment-form-group" class="hidden">
    <form data-postID="{{post.id}}" id="new-comment-form">
      {{! referring to model id }}{{! grab new-comment-form in vanilla JS }}
      <label for="comment">Create Comment:</label>
      <input class="form-input" type="text" id="comment" name="comment" />
      <button class="btn btn-sm btn-secondary" type="submit">SUBMIT</button>
    </form>
  </div>
{{/if}}

<script src="/js/comment.js"></script>
{{! script tag for commenting }}