<div class="row mb-4 singlePost">
  <div class="col-md-5">
    <h3>
      {{post.title}}
    </h3>
    Written By:
    {{post.User.username}}
    at
    {{post.date_created}}
    <hr />
    <p>{{post.content}}</p>
    <div class="leave-comment-btn">
      <button
        class="comment-btn btn btn-sm btn-secondary"
        data-postid="{{post.id}}"
      >Leave a Comment</button>
    </div>
    {{#if is_owner}}
      <button
        class="btn btn-sm btn-primary"
        data-postid="{{post.id}}"
      >Edit</button>

      <script src="/js/post.js"></script>
    {{/if}}
  </div>

  <div id="comment-container">
    <h4>Comments</h4>
    {{!-- {{#each post.comments as |comment|}} --}}

    {{! Changed the 'post.comments' to post.Comments }}
    {{#each post.Comments as |comment|}}
      <div class="row">
        <div class="col-md-6">
          {{comment.User.username}}
          at
          {{comment.date_created}}
          <p>{{comment.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{#if logged_in}}
  <div id="comment-form-group">
    <form data-postID="{{post.id}}" id="new-comment-form" class="hidden">
      <label for="comment">Create Comment:</label>
      <input class="form-input" type="text" id="comment" name="comment" />
      {{! This is creating 2 text boxes so I removed the smaller one }}
      {{! <textarea id="add-comment-textarea"></textarea> }}
      <button class="btn btn-sm btn-secondary" type="submit">SUBMIT</button>
    </form>
  </div>
{{/if}}

<script src="/js/comment.js"></script>